.section-separator-container {
  height: 125px;
  width: 100%;
}

.section-separator > .start {
  z-index: -1;
}

.section-separator > .primary {
  fill: var(--background-color);
}

.section-separator > .secondary {
  fill: var(--background-color-secondary);
}
