.section-separator-container {
  height: 125px;
  width: 100%;
}

.section-separator-start {
  z-index: -1;
  fill: var(--background-color);
}

.section-separator-end {
  fill: var(--background-color);
}
