.landing-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-view-content {
  position: absolute;
  color: white;
  left: auto;
  right: auto;
  top: 50px;
  bottom: 50px;
}

.landing-view-boxed-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  position: relative;
}

.landing-view-logo {
  height: 150px;
  object-fit: contain;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.landing-view-title-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: visible;
}

.landing-view-text {
  text-shadow: 0 0 20px black;
}

.landing-view-description {
  font-weight: 200;
}

.landing-view-bt-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.landing-view-bt {
  background-color: black;
  border: none;
  padding: 10px 25px;
  color: white;
  fill: white;
  cursor: pointer;
  border-radius: 999px;
  transition: 0.2s opacity ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  &:hover {
    opacity: 0.66;
  }
  &:active {
    opacity: 0.33;
  }
}

.landing-view-call-bt {
  padding: 15px;
}

.landing-view-carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .landing-view-logo {
    height: 125px;
  }

  .landing-view-title-container {
    max-width: unset;
  }
}

@media screen and (max-width: 900px) {
  .landing-view-title-container {
    max-width: 100%;
  }
}
