.carousel-wrapper {
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  position: relative;
  overflow-x: hidden;
}

.carousel-img {
  height: 100%;
  position: absolute;
  transition: width 2s cubic-bezier(0.09, 1, 0, 1);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-img > img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.carousel-img.prev {
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
}
.carousel-img.current {
  top: 0;
  right: 0;
  width: 100%;
}
.carousel-img.next {
  top: 0;
  right: 0;
  width: 0;
}
