.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-img {
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-img {
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}
.carousel-img.img-left {
  left: -50%;
  z-index: 0;
  transition: left 2s cubic-bezier(0.09, 1, 0, 1);
}
.carousel-img.img-center {
  left: 0;
  z-index: 1;
  transition: left 2s cubic-bezier(0.09, 1, 0, 1);
}
.carousel-img.img-right {
  z-index: -1;
  left: 100%;
}
