.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--color);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 40px;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  line-height: 25px;
}

.footer-logo {
  height: 200px;
  width: auto;
}

.footer-section-access {
  flex-basis: 400px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
}
