.dual-section-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: var(--background-color-secondary);
  color: var(--color-secondary);
  align-items: center;
  justify-content: center;
}

.dual-section-element {
  width: 50%;
  height: 100%;
}

.image {
  object-fit: cover;
  object-position: center;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
  position: relative;
}

.text-content {
  max-height: 80%;
  font-size: 22px;
  letter-spacing: 0.2em;
  font-weight: 200;
  line-height: 2.2em;
  text-align: start;
  writing-mode: vertical-lr;
}

.text-title {
  position: absolute;
  left: 60px;
  top: 160px;
  font-size: 37px;
}

.call-to-action {
  position: absolute;
  right: 60px;
  bottom: 160px;
}
