.dual-section-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: var(--background-color-secondary);
  color: var(--color-secondary);
  align-items: center;
  justify-content: center;
}

.dual-section-element {
  width: 50%;
  height: 100%;
}

.image {
  object-fit: cover;
  object-position: center;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  writing-mode: vertical-lr;
  padding-top: 50px;
  padding-bottom: 50px;
  max-height: 80%;
  font-size: 22px;
  letter-spacing: 0.2em;
  font-weight: 200;
  line-height: 2.2em;
}
