.dual-section-children-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--color);
}

.dual-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dual-section {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.dual-section-element {
  height: 100%;
}

.dual-section-image {
  width: 40%;
}

.dual-section-content {
  width: 60%;
}

.dual-section-image {
  object-fit: cover;
  object-position: center;
}

.dual-section-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 75px;
}

.dual-section-title {
  align-self: self-start;
  margin: 0;
}

.dual-section-description {
  text-align: start;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  height: 100%;
}

.dual-section-button {
  border-color: var(--color);
  color: var(--color);
  background-color: var(--background-color);
}

.dual-section-children-container {
  width: 100%;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}

.dual-section-children {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .dual-section {
    flex-direction: column !important;
  }

  .dual-section-element {
    width: 100%;
  }

  .dual-section-image {
    height: 25%;
  }

  .dual-section-content {
    height: 75%;
    gap: 25px;
    padding: 50px;
  }

  .dual-section-title {
    left: 30px;
  }

  .dual-section-button-container {
    right: 30px;
  }
}
