@font-face {
  font-family: "Noto Serif JP";
  src: url("/noto-serif-jp-variable.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("/noto-sans-jp-variable.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant Infant";
  src: url("/cormorant-infant.ttf") format("truetype-variations");
  font-weight: 200;
  font-style: normal;
}

:root {
  --background-color: rgb(242, 242, 242);
  --background-color-secondary: rgb(255, 253, 245);
  --color: rgb(90, 90, 90);
  --color-secondary: rgb(90, 90, 90);

  font-family: Noto Sans JP, Noto Serif JP, Cormorant Infant;
  color: var(--color);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 260px;
  min-height: 100vh;
  background-color: var(--background-color);
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Noto Serif JP, Noto Sans JP;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* #region Global classes */
.boxed {
  padding-left: 100px;
  padding-right: 100px;
  max-width: 2000px;
}

.serif {
  font-family: Cormorant Infant, Noto Serif JP, Noto Sans JP;
}

.full-screen-container {
  height: 100vh;
  min-height: 800px;
  width: 100%;
}

.button {
  border: none;
  border-bottom: 1px solid var(--color);
  background-color: unset;
  padding: 6px 10px;
  transition: all 0.2s ease-in-out;
  font-weight: 200;
  cursor: pointer;
  font-size: 15px;
}
.button:hover {
  opacity: 0.5;
}
.button:active {
  transform: translateY(2px);
}
/* #endregion */

@media screen and (max-width: 600px) {
  :root {
    font-size: 0.75rem;
  }

  /* #region Global classes */
  .boxed {
    padding: 0 50px;
  }

  .full-screen-container {
    min-height: 600px;
  }
  /* #endregion */
}
