/* #region Font faces */
@font-face {
  font-family: "Noto Serif JP";
  src: url("/noto-serif-jp-variable.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+3000-9FFF, U+ff??;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/noto-sans-jp-variable.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+3000-9FFF, U+ff??;
}

@font-face {
  font-family: "Cormorant Infant";
  src: url("/cormorant-infant.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Raleway";
  src: url("/raleway-variable.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+000-5FF;
}
/* #endregion */

/* #region Variants */
.primary {
  --background-color: rgb(242, 242, 242);
  --color: rgb(90, 90, 90);
}

.secondary {
  --background-color: rgb(255, 253, 245);
  --color: rgb(90, 90, 90);
}
/* #endregion */

:root {
  font-family: Raleway, Noto Sans JP, Cormorant Infant, Noto Serif JP;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-family: Cormorant Infant, Noto Serif JP, Raleway, Noto Sans JP;
  line-height: 1.1;
  font-size: 40px;
  letter-spacing: 0.2em;
  font-weight: 200;
  line-height: 1.5em;
}

h2 {
  font-family: Cormorant Infant, Noto Serif JP, Raleway, Noto Sans JP;
  font-size: 2.1em;
  font-weight: 400;
  line-height: 1.5em;
}

h6 {
  font-family: Cormorant Infant, Noto Serif JP, Raleway, Noto Sans JP;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: unset;
  transition: opacity 0.2s ease-in-out;
}
a:hover {
  opacity: 0.66;
}
a:active {
  opacity: 0.33;
}

.boxed {
  padding-left: 100px;
  padding-right: 100px;
  max-width: 2000px;
}

.full-screen-container {
  height: 100vh;
  min-height: 600px;
  width: 100%;
}

.button {
  border: none;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  font-weight: 300;
  cursor: pointer;
  font-size: 15px;
  border-bottom: 1px solid;
  font-family: Raleway, Noto Sans JP, Cormorant Infant, Noto Serif JP;
}
.button:hover {
  opacity: 0.66;
}
.button:active {
  opacity: 0.33;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 0.75rem;
  }

  .boxed {
    padding-left: 50px;
    padding-right: 50px;
  }

  .full-screen-container {
    min-height: 400px;
  }
}
